/* Reset */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

/* Page background */
body {
  margin: 0;
  min-height: 100vh;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px ;
}

/* Main wrapper */
.login-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;   /* wider */
  background: rgba(255, 255, 255, 0.489);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
  min-height: calc(100vh - 48px);

}


/* Left panel */
.login-left {
  flex: 5;
  padding: 60px;
  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h1 {
  font-size: 34px;
  margin-bottom: 15px;
}

.login-left p {
  font-size: 17px;
  line-height: 1.7;
  max-width: 300px;
}

/* Right panel */
.login-right {
  flex: 5;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h2 {
  margin-bottom: 25px;
  font-size: 24px;
  color: #111827;
}

/* Inputs */
.login-right input {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 15px;
}

.login-right input:focus {
  outline: none;
  border-color: #2563eb;
}

/* Button */
.login-right button {
  margin-top: 10px;
  padding: 15px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.login-right button:hover {
  background-color: #1e40af;
}

/* Mobile Responsive */
@media (max-width: 768px) {

   body {
    padding: 70px;
    align-items: flex-start;
  }

  .login-wrapper {
    flex-direction: column;
    max-width: 380px;
     min-height: auto;
  }

  .login-left {
    display: none; /* hide image panel on mobile */
  }
}

